// Couleurs
$white: #ffffff;
$gray-200: #c5c5c5;
$gray-500: #818181;
$gray-700: #313131;
$dark: #000000;

$red : #ff0000;
$blue : #0000ff;
$yellow : #fffb00;
$green : #00ff00;

// Tailles
$primary-title: 2rem;
$secondary-title: 1.25rem;
$sub-title: 0.75rem;